.winners-section {
  padding-left: 20px;
  margin: 20px 0;
}

#winners_table {
  margin-top: 20px;
}

.table-row {
  display: flex;
}

.table-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
}

.blue-table-header {
  background-color: rgb(56, 182, 182);
}

.winners-car-img {
  &>svg {
    width: 100px;
    height: 40px;
  }
}